.logoutBtn{
    position: relative;
    top: 100px;
    left: 20px;
    width: 150px;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    font-family: 'Roboto', monospace;
}