<app-navbar [currentTab]=1></app-navbar>
<div class="brokers-wrapper">
    <p class="brokers-title bold">BROKERS</p>
    <div id="brokers-container">
        <div class="broker">
            <div class="broker-header">
                <img src="../../../assets/img/thinkLogo.png" class="broker-img">
                <p class="broker-name"><b>Think Markets</b><br><a class="lightGreyText smallText" style="text-decoration: underline;">https://www.thinkmarkets.com/en/</a></p>
                <p class="cuenta-add smallText lightGreenText">+ Añadir Cuenta</p>
            </div>
            <pre class="smallText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Luctus tellus quam malesuada tempus morbi a. Quis et nisl vestibulum, malesuada pellentesque. Magna volutpat suspendisse dui pellentesque. Aliquet massa donec morbi purus elementum sit quis duis. 

• Nulla pellentesque gravida integer eu gravida nunc.
• Lacus ut integer diam lectus s nectus tincidunt id ornare sed.
• Tempus eu, egestas venenatis purus. Leo, amet, at urna gravida convallis aliquet pellentesque. </pre>
        </div>
        <div class="broker">
            <div class="broker-header">
                <img src="../../../assets/img/thinkLogo.png" class="broker-img">
                <p class="broker-name"><b>Think Markets</b><br><a class="lightGreyText smallText" style="text-decoration: underline;">https://www.thinkmarkets.com/en/</a></p>
                <p class="cuenta-add smallText lightGreenText">+ Añadir Cuenta</p>
            </div>
            <pre class="smallText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Luctus tellus quam malesuada tempus morbi a. Quis et nisl vestibulum, malesuada pellentesque. Magna volutpat suspendisse dui pellentesque. Aliquet massa donec morbi purus elementum sit quis duis. 

• Nulla pellentesque gravida integer eu gravida nunc.
• Lacus ut integer diam lectus s nectus tincidunt id ornare sed.
• Tempus eu, egestas venenatis purus. Leo, amet, at urna gravida convallis aliquet pellentesque. </pre>
        </div>
        <div class="broker">
            <div class="broker-header">
                <img src="../../../assets/img/thinkLogo.png" class="broker-img">
                <p class="broker-name"><b>Think Markets</b><br><a class="lightGreyText smallText" style="text-decoration: underline;">https://www.thinkmarkets.com/en/</a></p>
                <p class="cuenta-add smallText lightGreenText">+ Añadir Cuenta</p>
            </div>
            <pre class="smallText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Luctus tellus quam malesuada tempus morbi a. Quis et nisl vestibulum, malesuada pellentesque. Magna volutpat suspendisse dui pellentesque. Aliquet massa donec morbi purus elementum sit quis duis. 

• Nulla pellentesque gravida integer eu gravida nunc.
• Lacus ut integer diam lectus s nectus tincidunt id ornare sed.
• Tempus eu, egestas venenatis purus. Leo, amet, at urna gravida convallis aliquet pellentesque. </pre>
        </div>
        
    </div>
</div>
