<app-navbar [currentTab]=2></app-navbar>
<div id="academias-wrapper">
    <p class="academias-title bold">ACADEMIAS</p>
    <div class="academias-container">
        <div class="academia">
            <div class="academia-img-container">
                <img src="../../../assets/img/ofxLogo.png" class="academia-img">
                <p class="academia-discount lightGreenBackground bold">30% off</p>
            </div>
            <p class="academia-name bold">OFX ACADEMY</p>
            <p class="academia-text smallText">Aprende en la comunidad de Traders más grande de América Latina.</p>
            <a class="academia-link lightGreenText">DESCUBRE COMO</a>
        </div>
        <div class="academia">
            <div class="academia-img-container">
                <img src="../../../assets/img/ofxLogo.png" class="academia-img">
            </div>
            <p class="academia-name bold">OFX ACADEMY</p>
            <p class="academia-text smallText">Aprende en la comunidad de Traders más grande de América Latina.</p>
            <a class="academia-link lightGreenText">DESCUBRE COMO</a>
        </div>
        <div class="academia">
            <div class="academia-img-container">
                <img src="../../../assets/img/ofxLogo.png" class="academia-img">
            </div>
            <p class="academia-name bold">OFX ACADEMY</p>
            <p class="academia-text smallText">Aprende en la comunidad de Traders más grande de América Latina.</p>
            <a class="academia-link lightGreenText">DESCUBRE COMO</a>
        </div>
        <div class="academia">
            <div class="academia-img-container">
                <img src="../../../assets/img/ofxLogo.png" class="academia-img">
                <p class="academia-discount lightGreenBackground bold">30% off</p>
            </div>
            <p class="academia-name bold">OFX ACADEMY</p>
            <p class="academia-text smallText">Aprende en la comunidad de Traders más grande de América Latina.</p>
            <a class="academia-link lightGreenText">DESCUBRE COMO</a>
        </div>
        <div class="academia">
            <div class="academia-img-container">
                <img src="../../../assets/img/ofxLogo.png" class="academia-img">
                <p class="academia-discount lightGreenBackground bold">30% off</p>
            </div>
            <p class="academia-name bold">OFX ACADEMY</p>
            <p class="academia-text smallText">Aprende en la comunidad de Traders más grande de América Latina.</p>
            <a class="academia-link lightGreenText">DESCUBRE COMO</a>
        </div>
    </div>
</div>
