<app-admin-navbar [currentTab]=2></app-admin-navbar>
<div class="brokers-wrapper">
    <div class="brokers-searchbar-container">
        <a class="lightGreenText bold add-broker">Añadir Broker +</a>
        <div class="brokers-searchbar">
            <input type=text placeholder="Buscar broker">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="brokers-container">
        <div class="broker">
            <img src="../../../assets/img/thinkLogo.png" class="broker-img">
            <p class="broker-name bold">Think Markets</p>
            <p class="broker-link smallText">https://www.thinkmarkets.com/en/</p>
            <p class="broker-edit lightGreenText">Editar</p>
        </div>
        <div class="broker">
            <img src="../../../assets/img/thinkLogo.png" class="broker-img">
            <p class="broker-name bold">Think Markets</p>
            <p class="broker-link smallText">https://www.thinkmarkets.com/en/</p>
            <p class="broker-edit lightGreenText">Editar</p>
        </div>
    </div>
</div>
