<app-admin-navbar [currentTab]=4></app-admin-navbar>
<div class="questions-wrapper">
    <div class="questions-searchbar-container">
        <a class="lightGreenText bold add-question">Añadir FAQ +</a>
        <div class="questions-searchbar">
            <input type=text placeholder="Buscar FAQ">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="questions-container">
        <div class="question">
            <div class="question-header">
                <p class="question-name bold">Pregunta 1</p>
                <p class="lightGreenText bold question-edit">Editar</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header">
                <p class="question-name bold">Pregunta 2</p>
                <p class="lightGreenText bold question-edit">Editar</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header">
                <p class="question-name bold">Pregunta 3</p>
                <p class="lightGreenText bold question-edit">Editar</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header">
                <p class="question-name bold">Pregunta 4</p>
                <p class="lightGreenText bold question-edit">Editar</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header">
                <p class="question-name bold">Pregunta 5</p>
                <p class="lightGreenText bold question-edit">Editar</p>
            </div>
        </div>
    </div>
</div>  