<app-navbar [currentTab]=3></app-navbar>
<div id="questions-wrapper">
    <div id="title-wrapper">
        <p class="bold questions-title">FAQ'S</p>
        <div class="questions-searchbar">
            <input type=text placeholder="Buscar FAQ's">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="questions-container">
        <div class="question open">
            <div class="question-header" (click)="toggleQuestionOpen(0)">
                <p class="question-name bold">Pregunta 1</p>
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="question-body">
                <p class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant purus id mauris tortor, egestas. Eget volutpat mauris auctor risus purus nisl. Arcu nibh orci semper accumsan eu viverra tellus. Aliquet augue arcu sit sollicitudin. Habitant quis rhoncus aliquet semper id vitae. 
                    <br><br> At facilisis neque nec, cras ultricies massa blandit. Malesuada nulla consequat mollis vitae nunc, quam posuere euismod non. Orci nec metus, amet, tristique nisl a. Ultrices egestas dui sit sapien, enim sit. Lobortis pellentesque a, diam morbi ut nunc venenatis. Amet arcu sed tristique quam morbi diam. Quam luctus quisque lectus adipiscing amet sed arcu amet.</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header" (click)="toggleQuestionOpen(1)">
                <p class="question-name bold">Pregunta 2</p>
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="question-body">
                <p class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant purus id mauris tortor, egestas. Eget volutpat mauris auctor risus purus nisl. Arcu nibh orci semper accumsan eu viverra tellus. Aliquet augue arcu sit sollicitudin. Habitant quis rhoncus aliquet semper id vitae. 
                    <br><br> At facilisis neque nec, cras ultricies massa blandit. Malesuada nulla consequat mollis vitae nunc, quam posuere euismod non. Orci nec metus, amet, tristique nisl a. Ultrices egestas dui sit sapien, enim sit. Lobortis pellentesque a, diam morbi ut nunc venenatis. Amet arcu sed tristique quam morbi diam. Quam luctus quisque lectus adipiscing amet sed arcu amet.</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header" (click)="toggleQuestionOpen(2)">
                <p class="question-name bold">Pregunta 3</p>
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="question-body">
                <p class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant purus id mauris tortor, egestas. Eget volutpat mauris auctor risus purus nisl. Arcu nibh orci semper accumsan eu viverra tellus. Aliquet augue arcu sit sollicitudin. Habitant quis rhoncus aliquet semper id vitae. 
                    <br><br> At facilisis neque nec, cras ultricies massa blandit. Malesuada nulla consequat mollis vitae nunc, quam posuere euismod non. Orci nec metus, amet, tristique nisl a. Ultrices egestas dui sit sapien, enim sit. Lobortis pellentesque a, diam morbi ut nunc venenatis. Amet arcu sed tristique quam morbi diam. Quam luctus quisque lectus adipiscing amet sed arcu amet.</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header" (click)="toggleQuestionOpen(3)">
                <p class="question-name bold">Pregunta 4</p>
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="question-body">
                <p class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant purus id mauris tortor, egestas. Eget volutpat mauris auctor risus purus nisl. Arcu nibh orci semper accumsan eu viverra tellus. Aliquet augue arcu sit sollicitudin. Habitant quis rhoncus aliquet semper id vitae. 
                    <br><br> At facilisis neque nec, cras ultricies massa blandit. Malesuada nulla consequat mollis vitae nunc, quam posuere euismod non. Orci nec metus, amet, tristique nisl a. Ultrices egestas dui sit sapien, enim sit. Lobortis pellentesque a, diam morbi ut nunc venenatis. Amet arcu sed tristique quam morbi diam. Quam luctus quisque lectus adipiscing amet sed arcu amet.</p>
            </div>
        </div>
        <div class="question">
            <div class="question-header" (click)="toggleQuestionOpen(4)">
                <p class="question-name bold">Pregunta 5</p>
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="question-body">
                <p class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant purus id mauris tortor, egestas. Eget volutpat mauris auctor risus purus nisl. Arcu nibh orci semper accumsan eu viverra tellus. Aliquet augue arcu sit sollicitudin. Habitant quis rhoncus aliquet semper id vitae. 
                    <br><br> At facilisis neque nec, cras ultricies massa blandit. Malesuada nulla consequat mollis vitae nunc, quam posuere euismod non. Orci nec metus, amet, tristique nisl a. Ultrices egestas dui sit sapien, enim sit. Lobortis pellentesque a, diam morbi ut nunc venenatis. Amet arcu sed tristique quam morbi diam. Quam luctus quisque lectus adipiscing amet sed arcu amet.</p>
            </div>
        </div>
    </div>

</div>