<app-admin-navbar [currentTab]=1></app-admin-navbar>
<div class="cuentas-wrapper">
    <div class="cuentas-searchbar-container">
        <div class="cuentas-searchbar">
            <input type=text placeholder="Buscar cuenta, ticket o usuario">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="cuentas-container">
        <div class="cuentas-table">
            <div class="cuentas-header">
                <p>Broker</p>
                <p>Usuario</p>
                <p>Cuenta</p>
                <p>Ticket</p>
                <p>Tiempo de Cierre</p>
            </div>
            <div class="cuentas-row">
                <p><img src="../../../assets/img/fbsLogo.png" class="cuenta-img">FBS</p>
                <p>Carlos Aguirre Orozco</p>
                <p>8125678367</p>
                <p>1sBjVmODKN3rwY4EIRbH</p>
                <p>12 sep 2020 a las 20:20</p>
                <div class="icons-container">
                    <i class="fas fa-envelope"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>  
            </div>
            <div class="cuentas-row">
                <p><img src="../../../assets/img/fbsLogo.png" class="cuenta-img">FBS</p>
                <p>Carlos Aguirre Orozco</p>
                <p>8125678367</p>
                <p>1sBjVmODKN3rwY4EIRbH</p>
                <p>12 sep 2020 a las 20:20</p>
                <div class="icons-container">
                    <i class="fas fa-envelope"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>  
            </div>
            <div class="cuentas-row">
                <p><img src="../../../assets/img/fbsLogo.png" class="cuenta-img">FBS</p>
                <p>Carlos Aguirre Orozco</p>
                <p>8125678367</p>
                <p>1sBjVmODKN3rwY4EIRbH</p>
                <p>12 sep 2020 a las 20:20</p>
                <div class="icons-container">
                    <i class="fas fa-envelope"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>  
            </div>
        </div>
    </div>
</div>
