.landingSection{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    position: relative;
}

#firstSection{
    background-image: url('/assets/img/background.png');
    letter-spacing: 3px;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstSectionP{
    color: rgba(255,255,255,0.5);
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}

.scrollBtn{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollBtn p{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 30px;
}

.navbar > i{
    margin-top: 5px;
    margin-right: 50px;
    float: right;
    font-size: 30px;
}

.navbar > a{
    float: right;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Roboto', monospace;
    letter-spacing: 3px;
    font-size: 16px;
    margin-right: 30px;
}


#secondSection{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#secondSection > p{
    margin-top: 50px;
    width: 70%;
}

#investorsBG{
    position: absolute;
    top: 20px;
    z-index: 0;
}

.linkBtn{
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Roboto', monospace;
    margin-top: 75px;
}

#roles{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.role{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    z-index: 1;
}

.roleTitle{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    margin-bottom: 20px;
}

.roleText{
    padding: 30px;
    background-color: rgba(18,29,35,1);
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.65);;
}

.animalSections{
    background-image: url('/assets/img/animalSections.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.animalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animalImg{
    width: 40%;
    padding: 0px 50px;
    margin-right: 5%;
}

.animalImg img{
    width: 100%;
}

.animalName{
    font-size: 29px;
    margin: 16px 0;
    letter-spacing: 10px;
}

.animalSubtitle{
    font-size: 65px;
    margin: 16px 0;
    letter-spacing: 5px;
}

.animalText{
    font-size: 17px;
    margin: 16px 0 30px;
    text-transform: uppercase;
}

#tortugaContainer{
    margin-top: -70px;
}

#tortugaText{
    position: relative;
    margin-right: 0px;
}

#tortugaBtn{
    position: absolute;
    margin: 0;
    right: 0;
}

#guacamayaImg{
    background-image: url('/assets/img/guacamayaBG.png');
    background-repeat: no-repeat;
    background-position: 80% 56%;
    background-size: 62%;
}

#tortugaImg{
    padding: 0;
    padding-bottom: 70px;
    background-image: url('/assets/img/tortugaBG.png');
    background-repeat: no-repeat;
    background-position: 76% 8%;
    background-size: 90%;
    width: 43%;
    margin-right: 0;
    margin-left: 10%;
}

#jaguarImg{
    background-image: url('/assets/img/jaguarBG.png');
    background-repeat: no-repeat;
    background-position: 60% 63%;
    background-size: 52%;
}

#functionBG{
    position: absolute;
    width: 550px;
    height: 100vh;
    opacity: .3;
}

#infoTitle{
    margin-bottom: 20px;
}

#infoText{
    width: 45%;
}

#explainDiv{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.explainImg{
    margin-bottom: 30px;
}

.explainContainer{
    width: 21%;
    margin: 0 2%;
}

#footer{
    position: relative;
    left: 0;
    background-color: rgba(7,11,13,1);
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerContainer{
    width: 50%;
    text-align: center;
}

#footerContainer img{
    margin-bottom: 12px;
}

#footerContainer i{
    margin: 30px 5%;
    font-size: 20px;
}