<div class="landingSection" id="firstSection">
    <img src="/assets/img/biiaLogo.png">
    <p id="firstSectionP">TRANSFORMAMOS EL MUNDO DE LAS FINANZAS</p>
    <div class="scrollBtn">
        <p>scroll</p>
        <i class="fas fa-chevron-down" style="font-size: 30px"></i>
    </div>
</div>
<div class="landingSection" id="secondSection">
    <div class="navbar">
        <a class="orangeText strong loginBtn" routerLink="/login">INICIAR SESION</a>  
    </div>
    <img src="/assets/img/Mexico.png" id="investorsBG">
    <p>Somos una plataforma mexicana que ayuda al inversor y al nuevo inversor</p>
    <div id="roles">
        <div class="role">
            <p class="roleTitle lightGreenText">INVERSOR</p>
            <p class="roleText">Reducimos comisión por cada operación que abras.</p>
        </div>
        <div class="role">
            <p class="roleTitle purpleText">NUEVO INVERSOR</p>
            <p class="roleText">Comienza de la mano de las mejores academias de trading.</p>
        </div>
    </div>
    <p>Somos conscientes del gran valor que  tiene México como país, nos inspira su patrimonio cultural y su gran biodiversidad, por  eso en BIIA, estamos comprometicos en ofrecerte ese mismo valor para ti.</p>
    <a class="lightGreenBackground linkBtn strong">DESCUBRE COMO <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
</div>
<div class="animalSections">
    <div class="landingSection animalSection" (appear)="hasAppearedGuacamaya()">
        <div class="animalContainer">
            <div class="animalImg" id="guacamayaImg">
                <img src="/assets/img/guacamaya.png">
            </div>
            <div class="animal-text-container">
                <p class="lightGreenText animalName">MOO | GUACAMAYA</p>
                <p class="animalSubtitle bold">APRENDE</p>
                <p class="animalText bold">COMIENZA TU CARTERA COMO UN TRADER</p>
                <a class="lightGreenBackground linkBtn strong">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
    <div class="landingSection">
        <div class="animalContainer" id="tortugaContainer" (appear)="hasAppearedTortuga()">
            <div id="tortugaText">
                <p class="purpleText animalName right">TORTUGA | AKK</p>
                <p class="animalSubtitle bold right">INVIERTE</p>
                <p class="animalText bold right">Comienza con los mejores brokers a<br> nivel mundial</p>
                <a class="purpleBackground linkBtn strong right" id="tortugaBtn"><i class="fas fa-long-arrow-alt-left" style="margin-right: 15px;"></i>SABER MÁS</a>
            </div>
            <div class="animalImg" id="tortugaImg">
                <img src="/assets/img/tortuga.png">
            </div>
        </div>
    </div>
    <div class="landingSection">
        <div class="animalContainer">
            <div class="animalImg" id="jaguarImg" (appear)="hasAppearedJaguar()">
                <img src="/assets/img/jaguar.png">
            </div>
            <div class="animal-text-container">
                <p class="orangeText animalName">BALAM | JAGUAR</p>
                <p class="animalSubtitle bold">GANA</p>
                <p class="animalText bold">Reducimos tu spread hasta un 25%</p>
                <a class="orangeBackground linkBtn strong">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="landingSection centerText">
    <img src="/assets/img/logoBG.png" id="functionBG">
    <p class="strong titleText" id="infoTitle">¿CÓMO FUNCIONA?</p>
    <p class="normalText robotoMono" id="infoText"><span class="strong"><span class="lightGreenText">BIIA</span> es una nueva forma de invertir tu dinero</span><br><br>
        Si eres un inversionista recurrente en <span class="lightGreenText bold">BIIA</span>, sacarás el máximo provecho a tus operaciones y te reembolasremos parte del spread que te cobra tu actual broker.<br><br>
        <span class="bold">PARECE MAGIA</span><br>
        <span class="lightGreenText bold">¡PERO NO LO ES!</span><br><br><br>
        El broker te cobra una comisión por el spread, el broker nos paga a nosotros una comisión por referirte, y nosotros te regresamos parte de esa comisión por operar con ese broker.<br><br>
        <span class="lightGreenText bold">¡ASÍ DE SENCILLO!</span><br><br></p>
        <div style="border-bottom: 4px solid rgba(248,137,32,1); padding: 10px 30px; font-size: 22px;"><span class="orangeText bold" >VE LOS BROKERS DISPONIBLES</span></div>
</div>
<div class="landingSection centerText">
    <div id="explainDiv">
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options1.png">
            <p class="bold normalText">ACCIONES</p>
            <p class="normalText robotoMono">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim ut.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options2.png">
            <p class="bold normalText">OPCIONES</p>
            <p class="normalText robotoMono">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim ut.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options3.png">
            <p class="bold normalText">ETF´S</p>
            <p class="normalText robotoMono">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim ut.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options4.png">
            <p class="bold normalText">FOREX</p>
            <p class="normalText robotoMono">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim ut.</p>
        </div>
    </div>
</div>
<div id="footer">
    <div id="footerContainer">
        <img src="/assets/img/logoWhite.png">
        <p class="bold normalText">BIIA</p>
        <div>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
        </div>
        <p class="normalText darkGreyText">BIIA. Todos los derechos reservados. 2020</p>
    </div>
</div>
