<app-admin-navbar [currentTab]=3></app-admin-navbar>
<div class="academias-wrapper">
    <div class="academias-searchbar-container">
        <a class="lightGreenText bold add-academia">Añadir Academia +</a>
        <div class="academias-searchbar">
            <input type=text placeholder="Buscar Academia">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="academias-container">
        <div class="academia">
            <img src="../../../assets/img/thinkLogo.png" class="academia-img">
            <p class="academia-name bold">OFX INC</p>
            <p class="academia-plans smallText">3 Planes</p>
            <p class="academia-edit lightGreenText">Editar</p>
        </div>
        <div class="academia">
            <img src="../../../assets/img/thinkLogo.png" class="academia-img">
            <p class="academia-name bold">OFX INC</p>
            <p class="academia-plans smallText">3 Planes</p>
            <p class="academia-edit lightGreenText">Editar</p>
        </div>
    </div>
</div>