.signupBG{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: 0;
}

.signupLogo{
    width: 60px;
    margin-top: 60px;
    z-index: 1;
}

.signupText{
    margin-top: 20px;
    margin-bottom: 10px;
}

.signupTitle{
    font-size: 24px;
    margin-bottom: 35px;
}

.inputContainer, .mailInputContainer{
    padding: 45px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
    z-index: 1;
}

.mailInputContainer{
    padding: 35px;
}

.inputContainer > p, .mailInputContainer p{
    color: black;
    margin-bottom: 15px;
}

.inputContainer > button{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', monospace;
    font-size: 14px;
    text-align: left;
    margin: 5px 0;
    border: none;
}

.text-field{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.text-field i{
    position: absolute;
    z-index: 100;
    left: 20px;
    font-size: 20px;
    color: rgba(123,132,136,1);
}

input{
    border: 2px solid rgba(233,235,235,1);
    height: 45px;
    border-radius: 5px;
    padding-left: 50px;
    width: 100%;
}

::placeholder{
    font-weight: 700;
    color: rgba(123,132,136,1);
}

.inputContainer > button > i{
    font-size: 20px;
    margin-right: 14px;
    margin-left: 14px;
    width: 20px;
}

.loginLink{
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 180px;
    z-index: 1;
    cursor: pointer;   
}

.rightsText{
    position: absolute;
    bottom: 35px;
}

.termsText{
    position: absolute;
    bottom: 75px;
}

.loginBtn{
    width: 100%;
    color: white;
    border: none;
    padding: 20px 0;
    border-radius: 5px;
    font-family: 'Roboto', monospace;
}