<img src="../../../../assets/img/loginBG.png" class="signupBG">
<img src="../../../../assets/img/logoWhite.png" class="signupLogo">
    <p class="lightGreyText smallText signupText">Registrarse</p>
    <p class="strong signupTitle">Bienvenido a BIIA</p>
    <div class="inputContainer" *ngIf="!mailSignup">
        <p class="smallText">Elige uno para crear tu cuenta:</p>
        <button style="background-color: rgba(255,61,45,1);"><i class="fab fa-google"></i>Google</button>
        <button style="background-color: rgba(27,72,171,1);"><i class="fab fa-facebook-f"></i>Facebook</button>
        <button style="background-color: rgba(21,20,20,1);" (click)="toggleMail()"><i class="fas fa-envelope"></i>Correo</button>
    </div>
    <div class="mailInputContainer" *ngIf="mailSignup">
        <p class="smallText">Ingresa tus datos</p>
        <input type="text" placeholder="Nombre" class="text14" name="name" #name>
        <input type="text" placeholder="Correo" class="text14" name="email" #email>
        <input type="password" placeholder="Contraseña" class="text14" name="password" #password>
        <button class="text14 bold loginBtn lightGreenBackground" (click)="createUser(name.value, email.value, password.value)">Crear cuenta</button>
    </div>
    <p class="lightGreenText bold loginLink" routerLink="/login">Ya tengo cuenta</p>
    <p class="darkGreyText smallText centerText termsText">Al crear una cuenta aceptas nuestros <span style="color: white;">Terminos<br> y condiciones</span></p>
    <p class="darkGreyText smallText rightsText">BIIA. Todos los derechos reservados. 2020</p>
