<div class="landingSection" id="firstSection">
    <img src="../../../../assets/img/biiaLogo.png">
    <p id="firstSectionP">TRANSFORMAMOS EL MUNDO DE LAS FINANZAS</p>
    <div class="scrollBtn">
        <p>scroll</p>
        <i class="fas fa-chevron-down" style="font-size: 30px"></i>
    </div>
</div>
<div class="landingSection" id="secondSection">
    <img src="">
    <p>Somos una plataforma mexicana que ayuda al inversor y al nuevo inversor</p>
    <div id="roles">
        <div class="role">
            <p class="roleTitle lightGreenText">INVERSOR</p>
            <p class="roleText">Reducimos comisión por cada operación que abras.</p>
        </div>
        <div class="role">
            <p class="roleTitle purpleText">NUEVO INVERSOR</p>
            <p class="roleText">Comienza de la mano de las mejores academias de trading.</p>
        </div>
    </div>
    <p>Somos conscientes del gran valor que  tiene México como país, nos inspira su patrimonio cultural y su gran biodiversidad, por  eso en BIIA, estamos comprometicos en ofrecerte ese mismo valor para ti.</p>
    <a class="lightGreenBackground linkBtn strong">DESCUBRE COMO <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
</div>
<div class="animalSections">
    <div class="landingSection animalSection">
        <div class="animalContainer">
            <div class="animalImg" id="guacamayaImg">
                <img src="../../../../assets/img/guacamaya.png">
            </div>
            <div>
                <p class="lightGreenText animalName">MOO | GUACAMAYA</p>
                <p class="animalSubtitle bold">APRENDE</p>
                <p class="animalText bold">COMIENZA TU CARTERA COMO UN TRADER</p>
                <a class="lightGreenBackground linkBtn strong">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
    <div class="landingSection">
        <div class="animalContainer">
            <div>
                <p class="purpleText animalName">TORTUGA | AKK</p>
                <p class="animalSubtitle bold">INVIERTE</p>
                <p class="animalText bold">Comienza con los mejores brokers a nivel mundial</p>
                <a class="purpleBackground linkBtn strong"><i class="fas fa-long-arrow-alt-left" style="margin-right: 15px;"></i>SABER MÁS</a>
            </div>
            <div class="animalImg" id="tortugaImg">
                <img src="../../../../assets/img/tortuga.png">
            </div>
        </div>
    </div>
    <div class="landingSection">
        <div class="animalContainer">
            <div class="animalImg" id="jaguarImg">
                <img src="../../../../assets/img/jaguar.png">
            </div>
            <div>
                <p class="orangeText animalName">BALAM | JAGUAR</p>
                <p class="animalSubtitle bold">GANA</p>
                <p class="animalText bold">Reducimos tu spread hasta un 25%</p>
                <a class="orangeBackground linkBtn strong">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
</div>
